VITE_APP_URL= #https://localhost.weekview.my:3000/
VITE_BACKEND_URL= #https://api.localhost.weekview.my:3200/
UITM_MOCK=true

# Environment variables
APP_URL=
BACKEND_URL=
TRUSTED_ORIGINS=

ROOT_REDIRECTS=

GITHUB_CLIENT_ID=
GOOGLE_CLIENT_ID=

SUPPORTER_ONE_TIME_PRICE_ID=

# Secrets
DATABASE_URL=
DATABASE_AUTH_TOKEN=

GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_SECRET=

BETTER_AUTH_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=